<div>
  <h2>{{title}}</h2>

  {{#each celeb}}
  <p>
    <h3>{{this.name}}</h3>
  </p>

  <p>
    <a href="/celebrities/{{this._id}}">Details</a>
  </p> 

  <p>
    <a href="/celebrities/{{this._id}}/delete">Delete</a>
  </p>

  <p>
    <a href="/celebrities/{{this._id}}/edit">Edit</a>
  </p>

  <hr>
  {{/each}}
  <a href="/celebrities/new">Create new celebrity</a>

  <br>